---
import Layout from '../layouts/Layout.astro';
import Component from '../components/component.astro';
---

<Layout title="Welcome!">
	<h1>Home page</h1>
	<Component text="Hello World" />
	<div>
		<a href="/about">About Page</a>
	</div>
</Layout>